<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <TestSettings>
        <WorkspacePath>../../../../../</WorkspacePath>
        <LogicAppName>LogicApps/</LogicAppName>
        <MapPath>Artifacts/Maps/</MapPath>
        <MapName>source_order_to_canonical_order</MapName>
    </TestSettings>
</configuration>